# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Custom Configs
repromodel_core/last_experiment_config.json
repromodel_core/last_final_test_config.json
repromodel_core/last_crossVal_test_config.json

# Dynamic Choices
repromodel_core/choices.json

# Data
data/

#Tmp files
extracted_code/
dev_tmp/

# Checkpoints
ckpts/

# Node
node_modules

# Vite
dist
dist-ssr
*.local

# Editor Directories / Files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Byte-Compiled / Optimized / DLL Files
__pycache__/
*.py[cod]
*$py.class

# C Extensions
*.so

# Distribution / Packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
*.manifest
*.spec

# Installer Logs
pip-log.txt
pip-delete-this-directory.txt

# Unit Test / Coverage Reports
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

# Translations
*.mo
*.pot

# Django
*.log
local_settings.py
db.sqlite3
db.sqlite3-journal

# Flask
instance/
.webassets-cache

# Scrapy
.scrapy

# Sphinx Documentation
docs/_build/

# PyBuilder
.pybuilder/
target/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# PDM
.pdm.toml
.pdm-python
.pdm-build/
__pypackages__/

# Celery
celerybeat-schedule
celerybeat.pid

# SageMath
*.sage.py

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Spyder
.spyderproject
.spyproject

# Rope
.ropeproject

# MkDocs Documentation
/site

# Mypy Type Checker
.mypy_cache/
.dmypy.json
dmypy.json

# Pyre Type Checker
.pyre/

# Pytype Static Type Analyzer
.pytype/

# Cython Debug Symbols
cython_debug/

