.file-reader-header {
    margin-bottom: 0 !important;
}

.file-content {
    height: 30%;
    border: 2px solid #000;
    padding-top: 1px;
    padding-left: 4px;
    overflow: auto;
    border-radius: 10px;
    font-size: 10px;
}