.file-reader-header {
    margin-bottom: 8px !important;
}

@media (prefers-color-scheme: dark) {
    .file-reader-header {
        color: white;
    }    
}

.file-content {
    height: 30%;
    border: 2px solid #000;
    padding-top: 1px;
    padding-left: 4px;
    overflow: auto;
    border-radius: 10px;
    font-size: 10px;
}

@media (prefers-color-scheme: dark) {
    .file-content {
        color: white;
    }    
}