.header-tensorboard {
    margin-top: 12px;
}

.subheader-tensorboard {
    margin-top: 4px;
}

.tensorboard-button {
    margin-top: 12px;
    width: 250px;
    height: 37px;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    background-color: #e6f0f1;
    color: #000000;
    cursor: pointer;
}

.tensorboard-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}

.header-output {
    margin-top: 12px;
}

.subheader-output {
    margin-top: 4px;
}

.file-input-output {
    margin-top: 4px !important;
}

.file-reader {
    width: 100%;
    height: 600px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}