.header-tensorboard {
    margin-top: 48px;
    margin-left: 96px;
}

.subheader-tensorboard {
    margin-top: 4px;
    margin-left: 96px;
}

.tensorboard-button {
    margin-top: 24px;
    margin-left: 96px;
    width: 250px;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #e6f0f1;
    color: #000000;
}

.tensorboard-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}

.header-output {
    margin-top: 24px;
    margin-left: 96px;
}

.subheader-output {
    margin-top: 4px;
    margin-left: 96px;
}

.file-input-output {
    margin-top: 24px !important;
    margin-left: 96px;
}

.file-reader {
    margin-left: 96px;
    width: 90%;
    height: 600px;
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}