.req {
    color: red;
}

.tab-container {
    margin-top: 24px;
}

.extract-code-header {
    margin-top: 16px;
}

@media (prefers-color-scheme: dark) {
    .extract-code-header {
        color: white;
    }
}

.extract-code-subheader {
    margin-top: 4px;
}

@media (prefers-color-scheme: dark) {
    .extract-code-subheader {
        color: white;
    }
}

.code-extractor-confirmation-one {
    margin-top: 12px;
}

.code-extractor-button {
    margin-top: 8px;
}

.code-extractor-button:hover {
    opacity: 40%;
}

.github-header {
    margin-top: 36px;
}

@media (prefers-color-scheme: dark) {
    .github-header {
        color: white;
    }
}

.github-subheader {
    margin-top: 4px;
}

@media (prefers-color-scheme: dark) {
    .github-subheader {
        color: white;
    }
}

.personal-access-token-container {
    margin-top: 8px;
}

.personal-access-token-input {
    margin-top: 12px;
    margin-left: 24px;
    appearance: none;
    -webkit-appearance: none;
    width: 45%;
    height: 18px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    .personal-access-token-input {
        background-color: gray;
        border: 1px solid gray;
        color: #ffffff;
    }
}

.repository-name-input-container {
    margin-left: 1px;
}

.repository-name-input {
    margin-left: 55px;
    margin-top: 12px;
    appearance: none;
    -webkit-appearance: none;
    width: 45%;
    height: 18px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    .repository-name-input {
        background-color: gray;
        border: 1px solid gray;
        color: #ffffff;
    }
}

.repository-description-input-container {
    margin-left: 1px;
}

.repository-description-input {
    margin-left: 35px;
    margin-top: 12px;
    appearance: none;
    -webkit-appearance: none;
    width: 45%;
    height: 18px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
}

@media (prefers-color-scheme: dark) {
    .repository-description-input {
        background-color: gray;
        border: 1px solid gray;
        color: #ffffff;
    }
}

.github-button {
    margin-top: 8px;
}

.github-button:hover {
    opacity: 40%;
}