.json-input-file-label {
    padding-top: 48px;
}

.json-input-file {
    margin-top: 12px;
}

.param-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}

.submit-button {
    margin-top: 24px;
    width: 250px;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #e6f0f1;
    color: #000000;
}

.submit-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}