.header {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(to bottom, transparent, black), url("/header-background.jpg");
  background-size: 30%;
  width: 100%;
  height: 15vh;
  padding: auto;
  place-items: center; 
  text-align: center;
  justify-content: center;
  color: #ffffff;  
}

@media (prefers-color-scheme: dark) {
  .header {
    background-image: linear-gradient(to bottom, transparent, black), url("/header-background-dark-mode.jpg");
  }
}