.modal-container {
  position: fixed;
  top: 16px;
  right: 16px;
  z-index: 100;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  padding: 16px;
  text-align: center;
}

.modal-title {
  padding-top: 24px;
  padding-bottom: 24px;
}

.modal-description {
  padding-top: 12px;
  padding-bottom: 24px;
}

.modal-step-one {
  padding-bottom: 24px;
}

.modal-step-two {
  padding-top: 24px;
  padding-bottom: 24px;
}
  
.modal-confirmation {
  padding-top: 12px;
  padding-bottom: 24px;
}

.modal-message {
  padding-top: 24px;
  padding-bottom: 24px;
}

.modal-button {
  padding-top: 12px;
  padding-bottom: 24px;
}