.container {
    display: grid;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    margin-left: 25px;
}

.label {
    padding-top: 20px;
    font-size: 2.2em;
}

.category-container {
    padding-top: 20px;
    margin-left: 30px;
}

.category-dropdown {
    margin-left: 10px;
    padding-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    width: 30%;
    height: 25px;
    font-size: 1.15rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.file-name-input-container {
    margin-left: 30px;
}

.file-name-input {
    margin-left: 10px;
    padding-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    width: 35%;
    height: 25px;
    font-size: 1.15rem;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.load-template-button {
    margin-left: 5px;
    width: 120px;
    height: 25px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.775rem;
    font-weight: 500;
    background-color: #e6f0f1;
    color: #000000;
    line-height: 0px;
}

.load-template-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}

select, button {
    vertical-align: top;
}

.container-content {
    width: 800px;
    max-width: 100%;
    text-align: center;
    padding-top: 8px;
}

.container-editor-area {
    max-height: 400px;
    tab-size: 4ch;
    overflow: auto;
    margin: 2em 2em;
}

.container-editor {
    min-height: 400px;
    font-size: 12px;
    font-variant-ligatures: common-ligatures;
    background-color: #fafafa;
    border-radius: 3px;
    font-family: "Fira code", "Fira Mono", monospace;
}

.container-editor textarea {
    outline: 0;
}

.button-container {
    margin-left: 30px;
}

.button {
    margin-top: 10px;
    width: 150px;
    letter-spacing: 0.02857em;
    line-height: 1.75;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.875rem;
    font-weight: 500;
    background-color: #e6f0f1;
    color: #000000;
}

.button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}

.right-button {
    margin-left: 10px;
}