.passive-block-text {
    color: black;
    font-weight: bold;
    font-size:  16px;
}

@media (prefers-color-scheme: dark) {
    .passive-block-text {
        color: white;
        opacity: 75%;
    }
}