.llm-heading {
    padding-top: 16px;
    padding-left: 96px;
}

/* Loading Animation */
.loading-animation {
    margin-top: 32px;
}

/* Configuration File */
.json-input-file-container {
    padding-left: 96px;
}

.json-input-file {
    padding-top: 8px;
}

/* Supported LLM Models */
.supported-llm-container {
    padding-top: 24px;
    padding-left: 96px;
    width: 80%;
}

.supported-llm-label {
    padding-top: 12px;
    padding-bottom: 12px;
}

.textarea-llm-response-label {
    padding-bottom: 12px;
}

/* Additional LLM Prompting Rules */
.textarea-additional-prompt-container {
    padding-top: 24px;
    padding-left: 96px;
}

.textarea-additional-prompt-label {
    padding-top: 24px;
    padding-bottom: 12px;
}

/* Writing Voice */
.radio-writing-voice-container {
    padding-top: 10px;
    padding-left: 86px;
}

/* Output Format */
.radio-output-format-container {
    padding-top: 8px;
    padding-left: 84px;
}

.radio-plain-text {
    padding-left: 24px;
}

/* LLM Response */
.textarea-llm-response-container {
    padding-top: 24px;
    padding-left: 96px;
}

.textarea-llm-response-label {
    padding-top: 10px;
}

.container-content {
    overflow-y: hidden;
}

.container-editor-area {
    max-height: 800px;
    tab-size: 4ch;
    overflow: auto;
    border: 3px dotted #ccc;
    margin: 14px;
    margin: 0 !important;
    padding-left: 0;
    width: 90%;
    overflow-y: scroll;
}

.container-editor {
    min-height: 210px;
    overflow-y: scroll;
    font-size: 12px;
    font-variant-ligatures: common-ligatures;
    background-color: #fafafa;
    border-radius: 3px;
    font-family: "Fira code", "Fira Mono", monospace;
}

.container-editor textarea {
    outline: 0;
    overflow-y: scroll;
}

/* Copy Button */
.copy-button {
    margin-top: 24px;
    margin-left: 96px !important;
}

.copy-button:hover {
    opacity: 80%;
}