.status-wrapper-position {
  top: 16px;
  width: 166px;
  height: 34px;
  left: 16px;
  background: white; 
  color: black; 
  border-radius: 18px;
  display: flex; 
  align-items: center;

  /* Ensure the button is positioned relative to the viewport */
  position: fixed;

  /* Ensure the button is on top of other elements */
  z-index: 50;
}

.position2 {
  top: 64px;
}
  
.blinking {
  animation: blink 3s infinite;
}


@keyframes blink {
  0%, 100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}