#root {
  width:100%;
  color: #38512F;
}

.repromodal-structure-container {
  height: 85vh;
  padding: 16px;
}

.repromodal-structure {
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 15px 35px hsla(0, 0%, 0%, 0.3);
  overflow-y: scroll;
}

.tabs-container {
  padding: 16px;
  padding-left: 0px;
  position: relative;
}

.tabs {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 35px hsla(0, 0%, 0%, 0.3);
  height: 100%;
  max-height: calc(85vh - 32px);
  border-radius: 8px;
  padding: 64px;
  overflow-y: scroll;
}