#root {
 width:100%;
 color: #38512F;
}









.stackContainer {
  
  height: 85vh;
  
  
  padding: 16px;
  
  


}
.stackFrame {
  background-color: rgb(255, 255, 255);
  height: 100%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 15px 35px hsla(0, 0%, 0%, 0.3);
}

.questionairContainer {
  padding: 16px;
  padding-left: 0px;
  position: relative;
  

}


.questionairFrame {
  background-color: rgb(255, 255, 255);
  box-shadow: 0px 15px 35px hsla(0, 0%, 0%, 0.3);
  height: 100%;
  max-height: calc(85vh - 32px);
  border-radius: 8px;
  padding: 64px;
  overflow-y: scroll;
 
  
}
.container{
  background-color: aquamarine;
  height: 85vh;
  padding: 10px;

}



