:root {
  --color-background: #ffffff;
  --color-one: #38512f;
  --color-two: #e6f0f1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: #000000;
  }
}

#root {
  width: 100%;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 400;
  background-color: var(--color-background);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.repromodal-structure-container {
  width: auto;
  height: 85vh;
  padding: 16px;
}

.repromodal-structure {
  width: auto;
  background-color: var(--color-background);
  height: 100%;
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0px 15px 35px hsla(0, 0%, 0%, 0.3);
  overflow-y: scroll;
}

.tabs-container {
  padding: 16px;
  padding-left: 0px;
  position: relative;
}

.tabs {
  box-shadow: 0px 15px 35px hsla(0, 0%, 0%, 0.3);
  height: 100%;
  max-height: calc(85vh - 32px);
  border-radius: 8px;
  padding-left: 64px;
  padding-right: 64px;
  padding-top: 30px;
  padding-bottom: 64px;
  overflow-y: scroll;
}

body {
  margin: 0;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}