/* Tab Container */
.custom-script-container {
    zoom: 50%;
}

/* Category Label */
.custom-script-category-label {
    padding-top: 16px;
    font-size: 12px;
    font-weight: bold;
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
}

@media (prefers-color-scheme: dark) {
    .custom-script-category-label {
      color: white;
    }
}

/* Category Dropdown */
.custom-script-category-container {
    display: flex;
}

.custom-script-category-dropdown {
    width: 50%;
    padding-top: 4px;
}

/* Load Template Button */
.custom-script-load-template-button {
    margin-top: 4px;
    margin-left: 5px;
    width: 200px;
    height: auto;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.775rem;
    font-weight: 500;
    background-color: var(--color-one);
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .custom-script-load-template-button {
        background-color: #67687b;
    }
}

.custom-script-load-template-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}

/* Custom Script Editor */
.custom-script-container-content {
    background-color: #fafafa;
    width: 80%;
}

@media (prefers-color-scheme: dark) {
    .custom-script-container-content {
      background-color: black;
    }
}

.custom-script-container-editor-area {
    position: relative;
    max-height: 900px;
    tab-size: 4ch;
    border: 3px dotted;
    margin: 14px;
    margin-left: 0;
    margin-right: 0 !important;
    padding-left: 0;
    padding-right: 0;
    overflow: auto;
}

.custom-script-container-editor {
    min-height: 900px;
    margin: 12px;
    overflow-y: scroll;
    font-size: 12px;
    font-variant-ligatures: common-ligatures;
    border-radius: 3px;
    font-family: "Fira code", "Fira Mono", monospace;
}

@media (prefers-color-scheme: dark) {
    .custom-script-container-editor {
      color: white;
    }
}

.custom-script-container-editor textarea {
    outline: 0;
}

.custom-script-save-container {
    display: flex;
}

/* Output File Name */
.custom-script-file-name-input {
    margin-top: 4px;
    padding-left: 5px;
    appearance: none;
    -webkit-appearance: none;
    width: 500px;
    height: 40px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #caced1;
    border-radius: 0.25rem;
    color: #000;
    cursor: pointer;
}

.custom-script-file-name-input::placeholder {
    margin-left: 2px;
}

/* Save Button */
.custom-script-save-button {
    margin-top: 4px;
    margin-left: 5px;
    width: 200px;
    height: 47px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.775rem;
    font-weight: 500;
    background-color: var(--color-one);
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

@media (prefers-color-scheme: dark) {
    .custom-script-save-button {
        background-color: #67687b;
    }
}

.custom-script-save-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}