.start-building-button {
    margin-top: 12px;
    width: 100px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.575rem;
    font-weight: 500;
    background-color: var(--color-one);
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

.start-building-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}

.skip-filter-button {
    margin-top: 12px;
    width: 100px;
    height: 23px;
    border: 1px solid rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    font-size: 0.575rem;
    font-weight: 500;
    background-color: var(--color-one);
    color: white;
    white-space: nowrap;
    cursor: pointer;
}

.skip-filter-button:hover {
    border: 1px solid rgba(0, 0, 0, 0.12);
    opacity: 70%;
}