.json-input-file-label {
    padding-top: 16px;
}

.json-input-file {
    padding-top: 8px;
}

.param-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}

.experiment-builder-train-button:hover {
    opacity: 70%;
}

.experiment-builder-stop-button:hover {
    opacity: 70%;
}

.experiment-builder-download-config-button:hover {
    opacity: 70%;
}

.experiment-builder-folder-label {
    color: black;
}

@media (prefers-color-scheme: dark) {
    .experiment-builder-folder-label {
        color: white;
    }

    .param-label {
        color: white;
    }

    .param-box>p {
        color: white;
    }

    label {
        color: white;
    }
}