.json-input-file-label {
    padding-top: 16px;
}

.json-input-file {
    padding-top: 8px;
}

.param-box {
    display: flex;
    flex-direction: column;
    border: 2px solid #000000;
    border-radius: 10px;
    padding: 8px;
    margin: 8px;
}